#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

[include ./klicky-specific.cfg]                #place to put other configurations specific to your printer
[include ./klicky-variables.cfg]                #Required
[include ./klicky-macros.cfg]                   #Required
#[include ./klicky-bed-mesh-calibrate.cfg]      #bed mesh, requires klipper configuration
[include ./klicky-screws-tilt-calculate.cfg]   #help adjust bed screws automatically
#[include ./klicky-quad-gantry-level.cfg]       #level 4 Z motors
#[include ./klicky-z-tilt-adjust.cfg]           #level 2 or 3 Z motors


[probe]
pin: ^gpio22
x_offset: -16.8
y_offset: 14.4
z_offset: 9.57
speed: 7
lift_speed: 10

samples: 3
samples_result: median
sample_retract_dist: 2

samples_tolerance: 0.005
samples_tolerance_retries: 50

[screws_tilt_adjust]
screw1: 115,101.8          #For Long probe
screw1_name: back right
screw2: 21.2,101.8            #For Long probe
screw2_name: back left
screw3: 76.2,5             #For Long probe
screw3_name: front screw
horizontal_move_z: 20
speed: 50
screw_thread: CW-M3

[bed_mesh]
mesh_min: 5, 20
mesh_max: 100, 115
speed: 100
horizontal_move_z: 15 

probe_count: 5,5				#if you would like more detail, use 5,5 here
move_check_distance: 3
# zero_reference_position: 2.2, 14.4

algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
split_delta_z: 0.0125
mesh_pps: 2,2