[gcode_macro _filament_globals]
variable_load_dist: 70 # mm
variable_prime_dist: 15 # mm
variable_quick_temp: 250 # C
variable_poop_rate: 10 # mm3/s
variable_poop_amount: 45 # mm
variable_poop_height: 3 # mm
gcode:
    # Don't delete this section

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set loadDist = printer["gcode_macro _filament_globals"].load_dist|default(60)|int %}
    {% set primeDist = printer["gcode_macro _filament_globals"].prime_dist|default(15)|int %}
    M83                            ; set extruder to relative
    G1 E{loadDist} F300            ; load
    G1 E{primeDist} F150           ; prime nozzle with filament
    M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set unloadDist = printer["gcode_macro _filament_globals"].load_dist + printer["gcode_macro _filament_globals"].prime_dist|default(75)|int %}
    M83                              ; set extruder to relative
    G1 E10 F300                      ; extrude a little to soften tip
    G1 E-25 F1800; retract some, but not too much or it will jam
    G1 E-15 F100
    G1 E-{unloadDist-40-15} F800
    M82                              ; set extruder to absolute

[gcode_macro QUICK_LOAD_FILAMENT]
gcode:
    {% set loadDist = printer["gcode_macro _filament_globals"].load_dist|default(60)|int %}
    {% set primeDist = printer["gcode_macro _filament_globals"].prime_dist|default(15)|int %}
    {% set temp = printer["gcode_macro _filament_globals"].quick_temp|default(225)|int %}
    M104 S{temp}
    SMARTHOME AXES=XYZ
    G1 X60 Y15 Z20 F3000
    M109 S{temp}                   ; set & wait for hotend temp
    LOAD_FILAMENT
    BUCKET_PURGE                     ; purge line to clean up
    M82                            ; set extruder to absolute
    M400
    M104 S0

[gcode_macro QUICK_UNLOAD_FILAMENT]
gcode:
    {% set unloadDist = printer["gcode_macro _filament_globals"].load_dist + printer["gcode_macro _filament_globals"].prime_dist|default(75)|int %}
    {% set temp = printer["gcode_macro _filament_globals"].quick_temp|default(225)|int %}
    M104 S{temp}
    SMARTHOME AXES=XYZ
    G1 X60 Y15 Z60 F3000
    M109 S{temp}                     ; set & wait for hotend temp
    UNLOAD_FILAMENT
    M400
    M104 S0

[gcode_macro BUCKET_PURGE]
gcode:
    {% set temp = printer["gcode_macro _filament_globals"].quick_temp|default(225)|int %}
    {% set flowrate = printer["gcode_macro _filament_globals"].poop_rate|default(10)|int %}
    {% set purgeLength = printer["gcode_macro _filament_globals"].poop_amount|default(20)|int %}
    {% set travelSpeed = (printer.toolhead.max_velocity / 2) * 60 | float %}
    {% set purgeMoveSpeed = flowrate / (3.14 * 3**2) %}            ; flowrate / cs area = z move rate (mm/s)
    {% set zMoveHeight = (purgeLength * 3.14/4 * 1.75**2) / flowrate * purgeMoveSpeed * 1.75 %} ; (mm)
    {% set purgeX = 5|int %}

    M104 S{temp}                   ; start to warm to temp
    SMARTHOME AXES=XYZ
    G1 X{purgeX - 2.5} Y15 Z1 F3600    ; move to position
    M109 S{temp}                   ; set & wait for hotend temp

    SAVE_GCODE_STATE NAME=Prepurge_State                                                    # Create gcode state
    M83                            ; set extruder to relative
    # M106 S50                      ; turn on PC fans to cool purge
    G11                            ; unretract
    G0 X{purgeX + 2.5} E12 F80
    G1 X{purgeX} Z1.2 F{travelSpeed}
    G0 Z{1 + zMoveHeight} E{([purgeLength-12, 0] | max)} F{purgeMoveSpeed * 60}
    G10                            ; retract
    G1 Z{4 + zMoveHeight} F3000
    G1 X{purgeX + 20} F{travelSpeed}
    G1 X{purgeX}
    M106 S100                      ; cool off purge
    G4 P7500                       ; wait for cooling
    M107                           ; turn off PC fans
    G1 Z{zMoveHeight + 5} F{travelSpeed/2}
    G1 X{purgeX + 30} F{travelSpeed/2}
    G1 Z0.2 F3600
    G4 P500
    G1 X0.5 F{200 * 60}
    G1 X60 Y15 Z10 F3600
    M82

    RESTORE_GCODE_STATE NAME=Prepurge_State                                                 # Restore gcode state 
    
    # G1 E4.0 F3600
    # G1 Z20 F3000                   ; move nozzle away from bed
    # G1 X10 Y10 Z0.3 F5000.0        ; Move to start position
    # M106 S100
    # G1 X10 Y10 Z9 E50 F30
    # G1 X10 Y10 Z9
    # M106 S255
    # G4 P7500
    # M106 S0                       ; bonk
    # M117 Flushing...            
    # G1 X60 Y10  Z9 F5000
    # G1 Z0.4
    # G1 X10 Y10 Z0.4 F3600
    # M117 Printing...

[gcode_macro SIMPLE_PURGE]
description: A purge for post filament load
gcode:
    # Get relevant printer params
    {% set travel_speed = (printer.toolhead.max_velocity / 2) * 60 | float %}
    {% set cross_section = printer.configfile.settings.extruder.max_extrude_cross_section | float %}
    
    # Use firmware retraction if it is defined
    {% if printer.firmware_retraction is defined %}
        {% set RETRACT = G10 | string %}
        {% set UNRETRACT = G11 | string %}
    {% else %}
        {% set RETRACT = 'G1 E-.5 F2100' | string %}
        {% set UNRETRACT = 'G1 E.5 F2100' | string %}
    {% endif %}

    # Get purge settings from _Kamp_Settings
    {% set purge_height = 1 | float %}
    {% set tip_distance = 1 | float %}
    {% set purge_amount = printer["gcode_macro _filament_globals"].prime_dist*3 | float %}
    {% set flow_rate = 12.5 | float %}

    # Calculate purge speed
    {% set purge_move_speed = (flow_rate / 5.0) * 60 | float %}

    {% set temp = printer["gcode_macro _filament_globals"].quick_temp|default(225)|int %}
    M104 S{temp}
    SMARTHOME AXES=XYZ
    M109 S{temp}                   ; set & wait for hotend temp

    {% if cross_section < 5 %}

        {action_respond_info("[Extruder] max_extrude_cross_section is insufficient for purge, please set it to 5 or greater. Purge skipped.")}

    {% else %}

        SAVE_GCODE_STATE NAME=Prepurge_State                                                    # Create gcode state

        G92 E0                                                                              # Reset extruder
        G0 F{travel_speed}                                                                  # Set travel speed
        G90                                                                                 # Absolute positioning
        G0 X40 Y5                                             # Move to purge position
        G0 Z{purge_height}                                                                  # Move to purge Z height
        M83                                                                                 # Relative extrusion mode
        G1 E{tip_distance} F{purge_move_speed}                                              # Move filament tip
        G1 X80 E{purge_amount} F{purge_move_speed}             # Purge line
        {RETRACT}                                                                           # Retract
        G0 X90 F{travel_speed}                            # Rapid move to break string
        G92 E0                                                                              # Reset extruder distance
        M82                                                                                 # Absolute extrusion mode
        G0 Z{purge_height * 2} F{travel_speed}                                              # Z hop
        G0 X60 Y30 Z15 F3600

        RESTORE_GCODE_STATE NAME=Prepurge_State                                                 # Restore gcode state
    
    {% endif %}